[2019-08-19 07:00] miraving opened #3 "Make an API Client"
... need to sending / receiving data from the server.

[2019-08-19 07:02] miraving opened #4 "Make a Storage for collecting data"
... needs for collecting data from secure text fields.

After, all collected data will be sent on the server.

[2019-08-19 07:03] miraving opened #5 "Make a Base UI element"

[2019-08-19 07:04] miraving opened #6 "Make a workspace"

[2019-08-19 07:05] miraving opened #7 "Make the Demo App"

[2019-08-19 07:05] #7 closed, assigned to nobody

[2019-08-19 07:06] #5 closed, assigned to nobody

[2019-08-19 07:06] #6 closed, assigned to nobody

[2019-08-19 10:57] #4 closed, assigned to miraving

[2019-08-19 13:54] miraving opened #9 "Card Number Formatter"
Need to provide card number formatter like a `#### #### #### ####`

[2019-08-19 13:54] miraving opened #10 "Expiration Date Formatter"

[2019-08-19 13:54] miraving opened #11 "CVV Code Formatter"

[2019-08-19 13:55] miraving opened #12 "Card Holder Formatter"

[2019-08-19 13:56] miraving opened #13 "Card Number Validation"

[2019-08-19 13:57] miraving opened #14 "Expiration Date Validation"

[2019-08-27 09:57] #3 closed, assigned to miraving

[2019-08-27 09:58] miraving opened #15 "Hide keyboard after send data"

[2019-08-27 10:13] miraving opened #16 "Make possibility for configuring the Framework"

[2019-08-28 08:15] #15 closed, assigned to nobody

[2019-08-28 08:15] #16 closed, assigned to nobody

[2019-09-02 08:31] miraving opened #17 "New VGSTextFields behaviors"
- observing
- registartion / unregistration

[2019-09-02 08:32] miraving opened #18 "VGS TextField model"
- move TF functionality to model
- move TF delegate methods to model

[2019-09-02 09:24] #18 closed, assigned to nobody

[2019-09-03 09:19] #17 closed, assigned to nobody

[2019-09-17 14:09] #9 closed, assigned to miraving

[2019-09-17 14:09] #10 closed, assigned to miraving

[2019-09-17 14:09] #11 closed, assigned to miraving

[2019-09-17 14:09] #12 closed, assigned to miraving

[2019-09-17 14:09] #13 closed, assigned to miraving

[2019-09-17 14:09] #14 closed, assigned to miraving

[2020-05-06 09:35] thinhv opened #120 "Is it possible not to use Alamofire?"
Hi, Alamofire seems to be quite bulky for a simple networking request. I would suggest to use URLSession to reduce the binary size.
Thank you!

[2020-05-06 09:44] thinhv opened #121 "Is it possible to know that the VGSTextField (with card number type) fully filled in and not valid?"
Hi, In our app we need to show a popover view when the card number is fully filled and not valid. However VGSTextField does not provide that value. We can't just rely on `isValid` since `isValid` is `false` when textField is empty and we don't want to show the popover if it is empty.

Thank you!

[2020-05-06 10:39] breferrari commented on #120
I agree on that. Would be really good for both users and VGS if Alamofire was removed.
Currently there's only one post request created on the APIClient that can be safely rewritten using URLSession instead.

[2020-05-06 16:13] dmytrokhl commented on #120
Hi @thinhv @breferrari . I’m totally agree with you guys. Actually we already working on replacing Alamofire to native URLSession and it will be released in one of next releases https://github.com/verygoodsecurity/vgs-collect-ios/pull/114. The only one concern here is that Alamofire  provide nice AFError for failed requests, that will be replaced.

[2020-05-06 16:44] dmytrokhl commented on #121
Hi @thinhv It's possible for you to check if VGSTextField is empty.

VGSTextfield’s State has **isEmpty** attribute https://verygoodsecurity.github.io/vgs-collect-ios/Classes/State.html#/s:13VGSCollectSDK5StateC7isEmptySbvp

You can combine it with **isValid** attribute and do the checks like:

[code]

Will it works for you?

[2020-05-06 21:24] thinhv commented on #121
Hi @dmytrokhl thanks for the suggestion, but our designers don't want to show the popup while the textField is being filled. Only when text field is fully filled. Something like this:
[code]

[2020-05-07 07:58] dmytrokhl commented on #121
Will that work for you if we add raw input length attribute and make `possibleLength()` public? So you can get from textfield.state `cardBrand` and `user input length`,  and then compare it with `possibleLength()`.

Regarding `getting text from the private objects` - if you need to be in `PCI` scope you can't touch/save/edit sensitive data by yourself or edit the SDK.

[2020-05-07 09:36] thinhv commented on #121
Thanks. raw input length and `possibleLength() ` would solve our problem.
Sorry to bring it here but of course I don't edit the SDK code. I can easily get `text` property on `MaskedTextField`'s super class.
Anyway, I don't want to touch it that why I created this issue.

[2020-05-21 12:36] dmytrokhl commented on #120
`Alamofire` has been removed as dependency in `VGSCollectSDK` [v1.5.0](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.0).

[2020-05-21 12:36] #120 closed

[2020-05-21 12:37] dmytrokhl commented on #121
@thinhv  this has been released in `VGSCollectSDK` [v1.5.0](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.0). You can check `textfield.state.cardBrand.cardLengths` &  `textfield.state.inputLength` fields.

[2020-05-21 12:37] #121 closed

[2020-05-22 05:48] siddharthsuneel-Deserve opened #136 "[FEATURE] A way for validating textField with type type none"
**Is your feature request related to a problem? Please describe.**
Input field validation is not available for the textfield with type none. Scenario when need to send some more data into vault other than the provided type and requirement is to validate it as well. It is not available as per current implementation.

**Describe the solution you'd like**
A way to inject custom validation or way of a

[2020-05-22 14:37] dmytrokhl commented on #136
Hello @siddharthsuneel-Deserve , we have this feature in our roadmap. For now it's possible to setup `configuration.formatPattern` string, this will limit the input length and prevent from adding not valid character types in `VGSTextfield`. To know when the input is full you can check `textfield.state.inputLength`. However for more complicated validations setting custom regex feature still require

[2020-05-25 10:12] thinhv opened #138 "[FEATURE] RTL support for VGSCardTextField"
**Is your feature request related to a problem? Please describe.**
The card icon is alway on the right side. It should be `trailing` to have proper RightToLeft layout.
Also currently the card icon overlaps the textField.

**Describe the solution you'd like**
Please support RTL

**Additional context**
<img width="326" alt="Screenshot 2020-05-25 at 13 11 55" src="https://user-images.githubuserconten

[2020-05-25 10:21] dmytrokhl commented on #138
Hello @thinhv , changing icon side is planned to be available from next release https://github.com/verygoodsecurity/vgs-collect-ios/pull/111. Overlapping issue will be fixed there too.

[2020-05-25 10:24] thinhv commented on #138
@dmytrokhl awesome. thank you

[2020-05-28 08:52] dmytrokhl commented on #138
@thinhv this has been released in `VGSCollectSDK` [v1.5.1](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.1).

[2020-05-28 08:52] #138 closed

[2020-06-02 06:18] thinhv opened #147 "[ISSUE] Unable to dismiss VGSCardIOScanController"
**Describe the bug**
Not sure if I missed something but I can't dismiss the VGSCardIOScanController.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize `VGSCardIOScanController(cardScanDelegate)`
2. Call scanViewController.presentCardScanner(on: self, animated: true, completion: nil)
3. Press cancel nothing happen / after finish scanning delegate's method doesn't get called

**Expect

[2020-06-02 07:04] dmytrokhl commented on #147
@thinhv here the working [example](https://github.com/verygoodsecurity/vgs-collect-ios/blob/master/demoapp/demoapp/ViewController.swift#L221). You should handle **cancel** delegate func like:
[code]
Also check that your `scanViewController` instance still exists and stored on `ViewController` level(not func level).

Let me know if that works for you.

[2020-06-02 10:36] isimpson commented on #147
@dmytrokhl it will work correctly when setting the `delegate` explicitly as in your example but there is an issue here:
[code]

If the delegate is passed into the initializer then it will never be set in the `scanHandler` here:
[code]

`didSet` isn't called in this case, see the swift docs https://docs.swift.org/swift-book/LanguageGuide/Properties.html

I suggest either you set the `scanHandler.de

[2020-06-02 16:13] dmytrokhl commented on #147
Thank you for your findings @isimpson @thinhv . The fix released in `VGSCollectSDK` [v1.5.2](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.2).

[2020-06-02 16:28] #147 closed

[2020-06-03 08:13] DagAgren opened #150 "[ISSUE] Handling of slashes in expiry date field."
When using version 1.5.1 and entering a date in an expiry date field, after inputting two letters, they are shown as "12". When entering a third, a slash is added: "12/3".

It would be clearer to the user to add the / already after entering two letters: "12/".

[2020-06-03 08:15] DagAgren opened #151 "[FEATURE] Do not hide CVC field"
It would be nice if having the CVC field be a masked password field would be optional. This does not really seem like it adds any useful security, and it makes it harder for the user to verify that the data they have entered is incorrect. We are replacing our existing credit card addition screen with one using VGS, and our old one did not mask the CVC field, and we would like to keep it that way.

[2020-06-03 08:17] DagAgren opened #152 "[ISSUE] Placing text cursor in card number field"
It is currently (version 1.5.1) not possible to place the text cursor anywhere in the card number text field except at the end. This is not great UX for users who would like to make corrections to the number they have entered, as they are now forced to delete the number re-type it.

[2020-06-03 08:42] dmytrokhl commented on #151
Hello @DagAgren,

this is available since [v1.5.2](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.2). You can set masked field like `cvcTextField.isSecureTextEntry = false`.

Note that mask actually provide additional security - in case user or application make screenshots or record the application screen, masked field will be empty on screenshot. Also it's not allowed to cop

[2020-06-03 08:51] DagAgren opened #154 "[ISSUE] Visa regex is incorrect."
The validation regex for Visa is incorrect. Visa card numbers start with 4, and that seems to be the only rule. There are no limitation on the second digit.

https://baymard.com/checkout-usability/credit-card-patterns

This is a showstopper for us, as even several of our own developers have Visa cards that do not pass the current validation regex.

PR here: https://github.com/verygoodsecurity/vgs-

[2020-06-03 11:29] dmytrokhl commented on #152
@DagAgren It's possible to move cursor and edit the field at specific place. I assume you mean the issue when after editing cursor jumps to the end of the textfield? We will look to this issue.

[2020-06-03 11:31] dmytrokhl commented on #150
@DagAgren this is good point, we will look if we can improve it.

[2020-06-03 12:29] DagAgren commented on #152
For us, it seems it is impossible to tap the text field to place the cursor. Video:
[File from iOS (83).MOV.zip](https://github.com/verygoodsecurity/vgs-collect-ios/files/4723251/File.from.iOS.83.MOV.zip)

[2020-06-03 12:36] dmytrokhl commented on #152
Thanks for the video, I see the issue. Currently it's works only if user select & move the finger. We will check how to improve it.

[2020-06-04 09:41] dmytrokhl commented on #154
@DagAgren thanks for your PR. The fix released in [v1.5.3](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.3).

[2020-06-04 09:41] #154 closed

[2020-06-04 09:43] dmytrokhl commented on #151
Closed, since the feature released in [v1.5.2](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.2).

[2020-06-04 09:43] #151 closed

[2020-06-04 10:27] isimpson opened #157 "[ISSUE] Card number validation"
We tested regexes from [SwiftLuhn.swift](https://github.com/verygoodsecurity/vgs-collect-ios/blob/master/Sources/VGSCollectSDK/UIElements/Text%20Field/Validation/Card/SwiftLuhn.swift) on our collection of real BINs and found that just over 5% of them fail.
Here's the collection of missing card bins: [missed_ios_bins.csv.zip](https://github.com/verygoodsecurity/vgs-collect-ios/files/4729339/missed_

[2020-06-04 11:32] dmytrokhl commented on #157
Hello @isimpson .

Our SDK supports only "global card numbers", but you still can send card numbers even they are not valid in SDK. For this, check that card number field configuration don't require valid only cards, so `configuration.isRequiredValidOnly = false`. Also you can ignore `textfield.state.isValid` attribute then.

The solution in future could be adding support of custom card brands, so

[2020-06-04 19:36] isimpson opened #159 "[FEATURE] Expose CardIO hideCardIOLogo property"
CardIO library provides the opportunity to hide the PayPal logo on the card scanner but the property is not exposed through the `VGSCardIOScanController`.

See:
[code]

[2020-06-05 07:49] DagAgren commented on #150
This also applies to the spaces in the card number field, we just noticed. The cursor should always be placed at the location the next number will appear, so after typing "4444", the cursor should be placed as if the space had already been added, "4444 |"

[2020-06-05 09:21] dmytrokhl commented on #159
Hello @isimpson  Yes, I think it's better we hide the logo by default. We will add the update in next release.

[2020-06-05 09:23] dmytrokhl commented on #150
Yes, this is same functionality under the hood. The change will effect any field that use default or custom `formatPattern`.

[2020-06-05 13:42] DagAgren opened #161 "[ISSUE] Memory leak in VGSCollect"
VGSCollect keeps an reference to text fields it is handling:

https://github.com/verygoodsecurity/vgs-collect-ios/blob/562cdb0b8312fabaa4626304d41a6124a685166a/Sources/VGSCollectSDK/Core/Collector/VGSCollect%2Binternal.swift#L15

VGSTextFields try to unregister on deinit:

https://github.com/verygoodsecurity/vgs-collect-ios/blob/fc9654578de50784d5d1f6d97930a33a6967b191/Sources/VGSCollectSDK/UIElem

[2020-06-05 14:15] DagAgren opened #162 "[ISSUE] Incorrect internal constraints on VGSCardTextField"
Constraining the height of a VGSCardTextField causes an autolayout conflict. If the constraint is removed, the field will be much too large, indicating that there are incorrect internal constraints forcing the size to something unexpected.

This is what the view looks like without a height constraint:
<img width="487" alt="Screenshot 2020-06-05 at 17 09 04" src="https://user-images.githubuserconte

[2020-06-05 15:01] dmytrokhl commented on #162
@DagAgren thanks for detailed example. I assume this is card icon height constraint priority issue. We will try to fix it in next release.

[2020-06-05 15:12] dmytrokhl commented on #162
@DagAgren as a temporary solution you can try to set cardIconSize with `height` = `textfield height` - `topPadding` - `bottomPadding`.

Example:
 `cardNumber.cardIconSize = CGSize(width: 45, height: 32)`

[2020-06-05 18:26] DagAgren commented on #162
It might make more sense to constrain the icon to centerX and not to top or bottom at all?

[2020-06-05 19:52] dmytrokhl commented on #162
Card icon has only width & height constraints and is arranged in stackview, so it helps to make the icon size more dynamic and don't allows text to go under the image. I'm not sure we can constrain the icon to centerX in stackview, maybe we can just limit max icon height by stackview height.

[2020-06-12 16:04] dmytrokhl commented on #159
This is released in [v1.5.4](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.4).

[2020-06-12 16:04] #159 closed

[2020-06-12 16:04] dmytrokhl commented on #162
The fix released in [v1.5.4](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.4).

[2020-06-12 16:04] #162 closed

[2020-06-12 16:09] dmytrokhl commented on #161
Thank's for your findings @DagAgren . At the beginning there was idea to have one `VGSCollect` instance per `ViewController` so textfields live as long as `VGSCollect` instance. Also there were some cases when we should keep strong reference to textfields, since on `sendData(_:)` request `VGSCollect` grab the data directly from textfields. Anyway we will check if we can improve it.

[2020-07-02 07:26] siddharthsuneel-Deserve opened #173 "Issue with SSN validation"
**Describe the bug**
VGS Collect SDK is not passing the SSN validation even for a valid input.

**To Reproduce**
Steps to reproduce the behavior:
1. Create textfield with Configuration

configuration.type.isRequired = true
configuration.type.isRequiredValidOnly = true

2. Try to call the `vgsCollect.sendData`
4. VGS will not pass the validation for a valid user input.

**Expected behavior**
It sho

[2020-07-02 08:03] siddharthsuneel-Deserve commented on #173
Fixed

[2020-07-02 08:03] #173 closed

[2020-07-06 07:42] dmytrokhl commented on #136
Hello @siddharthsuneel-Deserve, we released pre-build validation rules in `VGSCollectSDK` [v1.5.5](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.5.5). Now it's possible to add/edit validation rules to `VGSTextField` through it's configuration:
[code]
Check our [documentation](https://www.verygoodsecurity.com/docs/vgs-collect/ios-sdk/error-handling) for more details.

[2020-07-06 07:42] #136 closed

[2020-07-21 15:08] dmytrokhl commented on #157
We update the SDK with new features. Starting form [v1.6.0](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.6.0) it's possible to **add** your Custom Payment Card Brands, **edit** default Card Brands and **validate** `CardBrand.unknown` cards.
Editing default Card Brands attributes and adding Custom Brands is available through `VGSPaymentCards` class.
Validation of `CardBrand.un

[2020-07-21 15:08] #157 closed

[2020-09-07 00:32] basememara opened #185 "[ISSUE] Cannot integrate with SwiftUI app"
We are building an iOS App Clip and the only option available is to use SwiftUI. The SDK only supports a UIKit TextField. Do you have a sample in how to use this with a SwiftUI app?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SwiftUI View
2. There is no option to add VGS TextField

**Expected behavior**
Add as a view:
[code]

**Environment (please complete the following informat

[2020-09-07 00:34] basememara opened #186 "[FEATURE] Add Swift Package Manager support"
We don't use 3rd party dependency managers. Is it possible to create as a Swift Package?

[2020-09-07 08:02] dmytrokhl commented on #186
Hello @basememara, this is actually what we plan to do soon.

[2020-09-07 09:38] dmytrokhl commented on #185
Hello @basememara ,

Unfortunately we don't have SwiftUI support yet, and don't have sample app how to use UIKit elements in SwiftUI. One of the possible solutions could be to wrap the `VGSTextField` into `UIViewRepresentable`. See [SwiftUI Tutorial](https://developer.apple.com/tutorials/swiftui/creating-and-combining-views).

Anyway we will put this feature request in our roadmap.

[2020-09-23 13:04] basememara commented on #186
See pr #188 and #187

[2020-09-23 13:11] basememara commented on #185
I got a head start and the gist of it is:

[code]
Then it can be used like this:

[code]

[2020-09-24 16:55] dmytrokhl commented on #185
@basememara this is super cool  :muscle: . You can create **PR** so we can review it and add to the [Demo Application](https://github.com/verygoodsecurity/vgs-collect-ios/tree/master/demoapp).

[2020-09-28 14:03] isimpson opened #192 "[ISSUE] Cannot build CardIO module with CocoaPods on Xcode 12"
**Describe the bug**
When including the VGSCollectSDK in an iOS build on Xcode 12 the pod will not link correctly without forcing exclude arm64 architecture for simulator builds.
The following build error occurs in our circleci build:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Include VGSCollecSDK pod 1.6.1 or 1.6.2
2. Build for iOS simulator in circleci env with Xcode 12.x

**Ex

[2020-09-29 08:33] dmytrokhl commented on #192
Thanks @isimpson, we will check it.

[2020-09-29 10:49] dmytrokhl commented on #192
@isimpson I did few tests, but could reproduce the issue.
Here are CircleCI config where I did tests:
- Xcode: "12.0" and "12.2.0"
- VGSCollectSDK: 1.6.1 and 1.6.2
- CocoaPods: 1.9.3
- SCAN_DEVICE: iPhone 11

Also didn't see issue when integrating SDK locally on my working machine with Xcode12.

Could you provide more details, probably some specific version of Xcode or Cocoapods.

[2020-09-29 10:52] isimpson commented on #192
@dmytrokhl I was using pretty much the same environment you have, does your project exclude the arm64 architecture for simulator builds?

[2020-09-29 10:58] dmytrokhl commented on #192
I use Standard Architecture - $(ARCHS_STANDARD) only. Similar as in our sample app - https://github.com/vgs-samples/very-spacy-food

[2020-09-29 11:46] isimpson commented on #192
I wonder is it more related to VGSCollectSDK/CardIO do you have that included?

[2020-09-29 14:13] dmytrokhl commented on #192
I did UI tests with VGSCollectSDK/CardIO included. After adding `arm64 ` to  Excluded Architectures  in test app didn't see any issue.
I suppose the issue could be in `CardIO SDK` since it not supported and pretty old, will check it.

[2020-09-29 14:24] isimpson commented on #192
Thanks for investigating, it only occurs when arm64 is NOT in excluded architectures.

[2020-10-01 15:57] dmytrokhl commented on #192
Hi @isimpson, some updates here!

We released [v1.6.3](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.6.3), where we excluded arm64 architectures in CardIO Dynamic Wrapper.
But it seems that the issue is mostly related to **CardIO** build and **Carthage-Xcode 12** issue described [here](https://github.com/Carthage/Carthage/issues/3019).
Since CardIO is static library and not su

[2020-10-05 16:08] dmytrokhl commented on #192
@isimpson we create a new `CardIOSDK` version, that is built in Xcode12, and add it to `VGSCollectSDK/CardIO` subspec.

The update is still in [testing branch](https://github.com/verygoodsecurity/vgs-collect-ios/tree/feature/update_cardio_sdk_version), so if you would like to test it, you should point `VGSCollectSDK` pods to that branch:
[code]

Let us know it that fixed your issue.

[2020-10-21 11:05] dmytrokhl commented on #192
This is fixed in VGSCollectSDK [v1.7.0](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.0).

[2020-10-21 11:05] #192 closed

[2020-10-21 11:11] dmytrokhl commented on #186
SwiftPM support is added in VGSCollectSDK [v1.7.0](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.0). Currently you can integrate only Core framework. We will add integration of 3d-party card scanning SDKs after they get updates with SwiftPM support.

[2020-10-21 11:11] #186 closed

[2020-10-22 07:30] isimpson commented on #192
@dmytrokhl thanks we'll update soon 🙏

[2020-10-27 11:34] isimpson commented on #192
@dmytrokhl I dont think this has fixed the issue we still see the following issue in our builds with the latest 1.7.0 sdk:
[code]

[2020-10-27 12:10] dmytrokhl commented on #192
Hi @isimpson , do you see same issue when testing your [Demo App](https://github.com/verygoodsecurity/vgs-collect-ios/tree/master/demoapp) ?

I'm curious about the issue because we did tests on multiple machines here, as well as our customers also test this version and didn't see the issue.
To investigate it deeper could you provide us specific version of Xcode and CocoaPods that you use. Also do

[2020-10-27 14:39] isimpson commented on #192
At least we use:
`    platform :ios, '11.0'`
Your demo app is using iOS 10.1.
I'll also dig when I have time and see if I can find the issue.

[2020-10-28 08:46] isimpson commented on #192
Ok I managed to reproduce this in your demoapp by updating the CardIOSSDK target iOS Deployment Target to iOS 9.0 and then running the following command to build the scheme:
`xcodebuild -workspace "demoapp.xcworkspace" -scheme "demoapp" -configuration "Debug" -sdk "iphonesimulator" clean build`

Error:
[code]

[2020-10-28 11:45] dmytrokhl commented on #192
Thanks @isimpson . We support iOS10+, but will try to reproduce the issues.

[2020-11-26 17:44] basememara opened #203 "Images missing when using Swift Package Manager"
Embedded resources were added in Swift 5.3, otherwise images for credit card types and any other assets is not showing up. Please see #198 for implementation, hopefully PR or steps are applied to canary.

[2020-11-27 18:19] basememara opened #204 "Precompiled framework binary?"
In the release section, I don't see a framework binary to download. I only see the source code attached. Am I expected to compile the binary from source? What are the steps to do that?

[2020-11-27 18:20] basememara commented on #204
I understand I can use a dependency manager, but for projects who cannot use a 3rd party dependency manager, what is the process of integrating the framework?

[2020-11-30 13:17] dmytrokhl commented on #204
We will discuss internally adding Precompiled framework binary. This not quite popular distribution method these days, the main problems could come here with compatibility in different Xcode versions(if we build framework with future Xcode version, probably it couldn't work with previous versions.)

[2020-11-30 13:19] dmytrokhl commented on #203
We will check this. The problem here is that SwiftPM and CocoaPods use different Bundle or image resources. We should find solution that it works for all distribution frameworks.

[2020-12-01 15:29] dmytrokhl commented on #161
In [v1.7.1](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.1) we released functionality that allows to  unsubscribe VGSTextFields any time you need it, so you can use it as:
[code]

As mentioned before, there are use-case when data from `VGSTextFields` is collected on multiple screens(e.g. pop-up views) and should be send all together at one point. `VGSCollect` grabs the data

[2020-12-01 15:29] #161 closed

[2020-12-04 13:40] dmytrokhl commented on #203
SwiftPM need different bundle then CocoaPods. We are working on [workaround](https://github.com/verygoodsecurity/vgs-collect-ios/pull/209) to make it available when integrating SDK with each dependency manager.

[2020-12-04 13:42] #185 closed

[2020-12-17 14:45] dmytrokhl commented on #203
@basememara we did update bundle resources in [v1.7.2](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.2).

[2020-12-17 14:45] #203 closed

[2020-12-17 14:45] #204 closed

[2021-01-21 06:10] hoangtuanfithou opened #217 "[ISSUE] Validation for expired date filed with calendar non gregorian"
**Describe the bug**
If user choose calendar non Gregorian calendar in iPhone setting
-> SDK validation show error when check input for expire date field

for example inside
func vgsTextFieldDidChange(_ textField: VGSTextField) {
        -> textField.state.isValid -> return false
}

**Screenshots**

![image](https://user-images.githubusercontent.com/93890/105287023-5ae36f80-5bf2-11eb-91c3-6783a45e

[2021-01-21 07:39] dmytrokhl commented on #217
Hi @hoangtuanfithou , this is [fixed](https://github.com/verygoodsecurity/vgs-collect-ios/blob/master/Sources/VGSCollectSDK/Utils/Extensions/Calendar%2Bextension.swift. ) starting from SDK v1.6.1.

[2021-01-21 07:41] hoangtuanfithou commented on #217
Thank for your information. I will update the sdk. 🎉

[2021-01-21 07:41] #217 closed

[2021-02-23 21:41] sha8wn opened #244 "[ISSUE] 403 Response when sending data from vgsCollect.sendData"
**Describe the bug**
I have been using the VGS sandbox environment successfully over the last few days, now all of a sudden without any changes, I am getting a 403 error when making to call to VGSCollect.SendDate(path: , extraData: )

**To Reproduce**
Steps to reproduce the behavior:
1. Create 1 textfield with Configuration '...'
[code]
2. Click on Submit UI Button
3. Make a call to sendData(path:

[2021-02-24 04:38] EugeneIOs commented on #244
Hello, @sha8wn.
Thank you for letting us know about the issue. We will try to reproduce it and provide feedback asap.
Could you please provide incoming request data as well with non-private some dummy but valid data?
As you got 403 error it can be related to permissions on VGS dashboard. Please check this.

Further steps might be taken:
1. Check logs on the dashboard for your <tenant_id>.
Please c

[2021-02-24 05:36] sha8wn commented on #244
Thanks for your response @EugeneIOs . When you say non private, do you also need the vaultId ? I am testing from the sandbox environment.

When I make the sendData request, I am sending some extra data in this format:
[code]

Then I do this:
[code]

Printing the dummy data I send as extra data from my logs to the console:
[code]

Finally, since this is the sandbox environment and I only send the c

[2021-02-24 06:09] sha8wn commented on #244
@EugeneIOs - I have updated to 1.7.5 and get more logs and see the following:

[code]

Then I see the issues:
[code]

Not sure if I need to add some auth token as I thought this was taken care of by using the vault id ?

And also, this same request was working yesterday morning so I am a little lost on this one.

[2021-02-24 06:18] EugeneIOs commented on #244
Thank you for providing more extensive debug information. We are on our way for checking it.

[2021-02-24 06:33] EugeneIOs commented on #244
@sha8wn
It seems there is an issue with your routes configuration on the dashboard.
I'm not sure 403 error is related to SDK.

Please contact our support <support@verygoodsecurity.com> and we will try to help you asap.

[2021-02-24 07:05] sha8wn commented on #244
Alright @EugeneIOs - thanks for your support, I will check with the support team.

Appreciate it.

[2021-02-24 13:46] dmytrokhl commented on #244
@sha8wn I will close this issue since it's not related to SDK functionality. Our support team will help you to check Routs Configuration on Dashboard.

[2021-02-24 13:46] #244 closed

[2021-03-01 17:13] ericlewis opened #245 "[FEATURE] Native SwiftUI Support"
**Is your feature request related to a problem? Please describe.**
SwiftUI is no longer new but the only way to use `vgs-collect-ios` with SwiftUI is a number of hacks or wrapping of the provided textfields. `VGSCollect` itself seems to rely on a storage that is based on `VGSTextField` which only extends UIView.

**Describe the solution you'd like**
It would be nice perhaps if there was more decou

[2021-03-02 14:41] sha8wn opened #246 "[FEATURE] Is it possible to change the request url ?"
Hello VGS iOS Team,

Was hoping to get some advice on the below:

**Is your feature request related to a problem? Please describe.**
Currently, the default URL request url is https://vault-id.sandbox.verygoodproxy.com/post

**Describe the solution you'd like**
My backend team has configured the path to be: https://vault-id.sandbox.verygoodproxy.com/notification
Is it possible for me to change / se

[2021-03-02 14:42] #246 closed

[2021-03-02 17:07] dmytrokhl commented on #245
@ericlewis SwiftUI support is definitely in our Roadmap, no ETA for now.

Note that if you collecting **PII** or other **sensitive data**, using custom UI elements that are not a part of `VGSCollectSDK` will put you into PCI scope. For other types of data, you can collect it with custom UI elements and send it with `extraData: [String: Any]` param in `VGSCollect.sendData(_:)` request.

[2021-03-02 18:04] ericlewis commented on #245
@dmytrokhl oh wow, I didn't know that! thanks, for the time being we are wrapping VGSTextFields

[2021-03-03 11:20] sha8wn opened #247 "[QUESTION] Any other test cards besides 4111 1111 1111 1111"
Hello VGS Team,

I currently need to test card types and depend on the last 4 digits of the card number being unique for some use cases so I just wanted to know if there was a database of dummy cards that I can use for testing purposes ?

Also, does anything need to be done when transitioning to the production environment besides changing the vault-id ?

Thanks

[2021-03-03 11:45] dmytrokhl commented on #247
@sha8wn regarding test cards, you can use the one provided [here](https://github.com/verygoodsecurity/vgs-collect-ios/blob/master/Tests/FrameworkTests/Card%20Brand%20Tests/_CardBrandDataSource.swift).

[2021-03-03 11:49] taras810 commented on #247
@sha8wn , Please check our [Going live](https://www.verygoodsecurity.com/docs/getting-started/going-live#going-live) documentation regarding transitioning to the production environment. Please let us know if any additional assistance is required

[2021-03-03 13:35] sha8wn commented on #247
Thanks @dmytrokhl and @taras810 for the very good support.

[2021-03-03 13:35] #247 closed

[2021-03-22 08:56] MikeFynes commented on #192
@dmytrokhl Hi, we are seeing this issue again when running on M1 devices, the CardIO dependency fails, is there any update on it?

[2021-03-22 10:25] dmytrokhl commented on #192
Hi @MikeFynes , could you provide us more details with this issue:
-  VGSCollectSDK version
-  Cocoapods version
-  Xcode version
- Error logs(if possible)

Also does this issue reproduced only on M1 devices?

[2021-03-24 11:48] DagAgren commented on #192
* We were using 1.6.3, but I updated to 1.7.6 and the issue is still present.
* Latest Cocoapods
* Latest Xcode

This is the build output showing the issue:

[code]

[2021-03-24 11:52] DagAgren commented on #192
The secondary issue with test targets only happens on M1 machines, and not sure about the core issue with the linking error, as I am testing this on M1 right now, but we added this workaround before M1 machines existed so I assume it happens on Intel as well.

[2021-03-25 12:39] dmytrokhl commented on #192
Thanks @DagAgren . I'm worry the issue could be with new architectures support in Card.io SDK, since it's not maintained anymore by PayPal. We will check what we can do from our side, as for now we couldn't reproduce the issue.

I also can recommend you to check the other [scan module](https://www.verygoodsecurity.com/docs/vgs-collect/ios-sdk/card-scan/bouncer) that could be integrated with VGSCol

[2021-03-29 09:25] sha8wn opened #252 "VGSCollectSDK (1.7.6) seems to crash on vgsView.vgsCollect.sendData(path: , extraData: )"
Hello VGS Team,

**Describe the bug**

I had a sample application that was using similar code from your samples

I had a line of code like so:
[code]

where vgsView is of type VGSView. On executing this line of code, the app crashes with:
![image](https://user-images.githubusercontent.com/1778742/112816175-2ed0e880-9092-11eb-9f53-edf4e0c36ed2.png)

**Expected behavior**
The app should not crash an

[2021-03-29 09:32] EugeneIOs commented on #252
Hi, @sha8wn.
Could you please provide:
- test project or sample with test data causing crash;
- steps to reproduce;
- more detailed crash info (crash log etc).

[2021-03-29 10:39] EugeneIOs commented on #252
@sha8wn

You can also send test project with you [app](https://github.com/getBanyan/by_mobile_ios_framework_connect_demo_app)
to support@verygoodsecurity.com if you don't want to expose some private info here.

We need:
1. demo app version with issue.
2 test credentials (API key etc) - as I see we need some credentials to run your demo app.
3 detailed steps how to replicate problem.

[2021-03-29 11:02] sha8wn commented on #252
@EugeneIOs - I will definitely support you with this, however it will be during the course of the week as I just have some things to finish up.

I will try to recreate this in isolation and share the sample project with you so if possible, please keep this issue open till I do so.

Thank you for your support.

[2021-03-29 11:05] EugeneIOs commented on #252
@sha8wn
sure, we will wait for your sample and this issue open as well.

[2021-04-08 09:06] rubina-shakhkyan opened #259 "[Feature][Enable customizing year and month order for expiration date field(e.g. 01/2022 or 2022/01)]"
**Is your feature request related to a problem? Please describe.**
We need to have a date format when year comes before month.

**Describe the solution you'd like**
I created a [PR where we can set date and month order from a wrapper](https://github.com/verygoodsecurity/vgs-collect-ios/pull/260)

[2021-04-08 14:25] DagAgren commented on #192
Switching to CardScan does indeed fix the issue, but CardScan is a paid service so this is far from an ideal solution.

I thought you were building CardIO yourselves? It needs to have a proper arm64 build to work.

[2021-04-09 11:14] dmytrokhl commented on #192
We will schedule some time next week to test if it could be fixed with building card.io as xcframework.

Generally, we don't maintain card.io, since it’s [owned](https://github.com/card-io/card.io-iOS-source) by PayPal. We only did create a dynamic wrapper to make it possible to use in Swift SDK and descope users from PCI scope.

The long-term perspective will be to get rid of Card.io since it tak

[2021-04-23 12:52] dmytrokhl commented on #259
This is released in [v1.7.11](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.11).

[2021-04-23 12:52] #259 closed

[2021-04-29 13:33] dmytrokhl commented on #252
Closed due to inactivity.

[2021-04-29 13:33] #252 closed

[2021-04-29 14:04] dmytrokhl commented on #245
We did release a [sample](https://github.com/vgs-samples/vgs-collect-show-ios-swiftUI-demo) how to use VGS Collect SDK in SwiftUI.

Native SwiftUI SDK is still in our roadmap.

[2021-05-03 09:49] rubina-shakhkyan opened #269 "[ISSUE] VGSSdk 1.7.11 causes build failure"
**Describe the bug**
A clear and concise description of what the issue is.
Located in file `Core/VGSCollectLogger.swift`

**To Reproduce**
Build project from xcode 12.5

**Screenshots**
![Screenshot 2021-05-03 at 11 17 50](https://user-images.githubusercontent.com/64727687/116862686-6e48a280-ac05-11eb-83ca-67a3bb96bb98.png)

**Environment (please complete the following information):**
 - SDK Versi

[2021-05-03 10:21] EugeneIOs commented on #269
Hello @rubina-shakhkyan
Thank you for informing us about this issue.
We will have a look to this.

Could you please also tell us how do you integrate VGS Collect SDK?
CocoaPods/SPM/Carthage?

[2021-05-03 10:38] rubina-shakhkyan commented on #269
Thank you for a prompt reply. I integrate it using CocoaPods in a .podspec file.

[2021-05-04 05:50] EugeneIOs commented on #269
@rubina-shakhkyan
Tried with latest Xcode 12.5 and different simulators/test projects, cannot reproduce.
My assumption it can be replicated with some specific build settings.

Could you please provide some simple test project with the issue?

[2021-05-04 15:38] rubina-shakhkyan commented on #269
Accidentally tried to compile the project to Swift v4.2, fixed after switching swift compiler version.

[2021-05-04 15:38] #269 closed

[2021-05-14 14:19] dmytrokhl commented on #192
@DagAgren @MikeFynes @isimpson we did rebuild Card.io framework and release a new version that should allow to integrate CardIO module  with CocoaPods on Apple Silicon. Please check VGSCollectSDK [v1.7.13](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.7.13).

[2021-05-26 13:38] rubina-shakhkyan opened #276 "[FEATURE] Similar behavior on expiration date field for iOS and Android"
**Is your feature request related to a problem? Please describe.**
When entering card expiration date, `/` is displayed on Android immediately after entering month. For instance, you enter `03` and `/` appears automatically, while on iOS slash is displayed after entering the first digit of year. Would be nice if it's = consistent on both platforms.
**Describe the solution you'd like**
Would be nic

[2021-05-26 14:30] rubina-shakhkyan commented on #276
Thank you for a prompt reply. Will be looking forward for the feature release!

[2021-09-22 22:08] mthole opened #289 "[ISSUE] Package.swift has invalid excludes, causing warnings on Xcode 13"
**Describe the bug**
Xcode 13 produces Swift Package Manager warnings due to invalid excludes:
![image](https://user-images.githubusercontent.com/57376542/134428480-ed6d48a8-b0b6-42c7-9e34-406ab7ac58fd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Package.swift in XC13
2. See the warnings produced due to invalid excludes of `VGSPaymentCards/Info.plist` and `VGSPaymentCards/VGSPay

[2021-09-23 03:06] EugeneIOs commented on #289
@mthole
thank you for lettings us now about these warnings with new Xcode 13.
We will take a look to this and check your fixes as well.

[2021-10-27 12:30] dorastipkovic opened #295 "[FEATURE] Setting the max length on VGSTextField"
**Is your feature request related to a problem? Please describe.**
I'm using a VGSTextField UI component with `VGSConfiguration.type = FieldType.none` for inserting user address information, when adding a new credit card. I would like to set the max length of the input so that the user can type e.g. 40 characters and the rest to be discarded.

**Describe the solution you'd like**
Ideally we could

[2021-11-08 10:40] dmytrokhl commented on #295
@dorastipkovic we add `.maxInputLength` feature in VGSCollectSDK [v1.9.3](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.9.3).

[2021-11-08 10:41] #295 closed

[2021-11-12 10:24] myeyesareblind opened #299 "[ISSUE] Crash in APIClient upon deinit"
**Describe the bug**
The crash happens in a popular iOS application that uses VGS. See attached stack trace.

**To Reproduce**
Steps to reproduce the behavior:
I haven't tried, from what I see is:
https://github.com/verygoodsecurity/vgs-collect-ios/blob/52f0bba547a885ddb7fe22d7bf11514b34652633/Sources/VGSCollectSDK/Core/API/APIClient.swift#L201 gets called few times.
While semaphore is locked, API

[2021-11-12 10:35] EugeneIOs commented on #299
@myeyesareblind
Hi, this issue has been fixed in [1.9.2](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.9.2).
Please update your apps to the latest SDK version.

[2021-11-12 11:18] myeyesareblind commented on #299
Thanks, @EugeneIOs ! I'm looking at d6855a6ab9c5b12dd2b42e503f429f0cb00bf115 commit.

Could you elaborate how/why is it fixed? Perhaps I miss something.
As far as I see:
With that fix, APIClient might be deallocated before async. Which is an improvement.
It doesn't however fix the root cause.

Here is the sample test I came up with, that demonstrates the problem.
It's a bit tricky. See the sample

[2021-11-12 11:31] EugeneIOs commented on #299
@myeyesareblind
It is not an improvement but fix.

While fixing this bug in our previous versions we replicated 100% the same crash in our demo app with following steps:
1. use `customHostname` in VGSCollectSDK `init` method;
2. simulate small delay in the `init` method where updateHost is called with`Dispatch.asyncAfter`;
3. close screen so VGSCollectSDK is called.
So `deinit` of `VGSCollectSDK`

[2021-11-12 11:35] myeyesareblind commented on #299
@EugeneIOs ,

steps to reproduce are different to what you've described.

Here there are 2 calls:
1st succeeds (wait/signal)
2nd is started (wait goes through and async is called).
object gets deallocated while semaphore value is 0 = crash

[2021-11-12 11:56] EugeneIOs commented on #299
@myeyesareblind
Could you please provide steps to replicate this issue with our demo app?

[2021-11-12 12:34] myeyesareblind commented on #299
I cannot replicate it in the demo app.
Perhaps because host resolve is not triggered,
or because this issue happens to 100 users out of 10 millions and is quite hard to replicate due to timings.

We certainly can try updating to 1.9.2, yet the issue is likely to be there as pointed out in the sample app.

[2021-11-12 13:21] EugeneIOs commented on #299
Please let us know if you can provide more details about this issue after updating to `1.9.2`

[2021-11-26 14:20] EugeneIOs commented on #299
Closed due to cannot reproduce.

[2021-11-26 14:20] #299 closed

[2021-12-07 11:58] isuert opened #300 "[FEATURE] Accessibility support for text fields"
**Is your feature request related to a problem? Please describe.**
Currently, it does not seem possible to provide accessibility attributes (like `accessibilityLabel`, `accessibilityHint` etc.) to the underlying text field that [VGSTextField](https://verygoodsecurity.github.io/vgs-collect-ios/Classes/VGSTextField.html) contains. We can only add such attributes to `VGSTextField` itself.

**Describe

[2021-12-07 12:35] EugeneIOs commented on #300
Hi, @isuert.
we will look into this feature, yes, some additional wrappers for `VGSTextField` are required to do this.

[2021-12-09 08:13] EugeneIOs commented on #300
@isuert
Hello, we checked current accessibility options.
As we have wrapper for `UITextField` adding `accessibilityLabel` for `VGSTextField` won't work unless `VGSTextField` property `isAccessibilityElement` set to `true`. Default is `false` since `VGSTextField` is just a `UIView`.

We can add `accessibilityLabel` and `accessibilityHint` options to set them directly into the underlying `textField`

[2021-12-14 21:31] isuert commented on #300
That would work for my use case! Thanks!
I'm not sure what other attributes might be necessary for covering more cases, but this sounds like a good start. 🙌

[2021-12-15 04:45] EugeneIOs commented on #300
@isuert.
Thank you for feedback, we can add these two options for the underlying textField.

[2021-12-24 08:49] EugeneIOs commented on #300
@isuert
Please check release [1.9.4](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.9.4) with `textFieldAccessibilityLabel` and `textFieldAccessibilityHint` options.

[2021-12-28 16:35] isuert commented on #300
Thanks a lot! 🙌

[2021-12-29 07:02] #300 closed

[2022-01-26 14:38] nikolaykasyanov commented on #299
Hey folks,

we're also experiencing it on 1.9.2. If anything, fixing the retain cycle might have made the crash more likely because the only way to get it is to let the client deallocate.

I wonder if using regular locks has been considered to completely avoid dealing with the "deallocating semaphore while in use" thing?

[2022-01-27 12:05] EugeneIOs commented on #299
@nikolaykasyanov
Thank you for letting us know and help with investigating it.
we released fix in [1.9.5](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.9.5).

[2022-03-08 13:00] tsabend opened #308 "[ISSUE] Package.swift requires users to download VGSPaymentCards"
**Is your feature request related to a problem? Please describe.**

The Package.swift for vgs defines a library VGSCollectSDK with two targets:
[code]

In my project I do not want VGSPaymentCards and would like to be able to depend on just VGSCollectSDK.

With the current Package.swift I end up continuously downloading a bunch of things I do not need (like CardScan). More importantly the existing

[2022-03-09 13:11] dmytrokhl commented on #308
Hi @tsabend ,

`VGSPaymentCards` is required module in VGSCollectSDK, it's responsible for card brand detection and card number validation(our most popular use-case).

Currently we don't support `tuist`, but we will add it to our roadmap to see the demand.

[2022-03-09 13:18] tsabend commented on #308
Would you be open to exposing an additional option to get just the collect sdk if I opened a pr for it?

[2022-03-09 13:49] dmytrokhl commented on #308
You mean give option for all users to choose if they need `VGSPaymentCards`? I think this is not the option since more then 90% of our customer use SDK for collecting credit cards and need this module, this will be breaking change for them and a bit confusing for new users.

We would rather check could we include `VGSPaymentCards` inside `VGSCollectSDK`, so it will be one module only.

[2022-03-09 13:56] tsabend commented on #308
We wouldn't need to change the existing library declaration in the Package.swift. It would just expose an additional option that users could choose.

[2022-03-09 14:43] dmytrokhl commented on #308
got it. We will discuss internally two options: expose new option in SwiftPM or move VGSPaymentCards inside VGSCollect so it will be one module. We will also need to check other our SDKs that use Collect SDK as dependency, so I will back to you in few days.

[2022-03-09 16:38] tsabend commented on #308
Thanks

[2022-03-18 14:20] dmytrokhl commented on #308
@tsabend we released VGSCollectSDK [v1.9.7](https://github.com/verygoodsecurity/vgs-collect-ios/releases/tag/1.9.7) without separate VGSPaymentCards.

[2022-03-18 18:56] tsabend commented on #308
Thanks! I'll check it out.